src/FedEx/_wsdl/InFlightShipmentService_v1.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/ifss/v1" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/ifss/v1" name="IFSSServiceDefinitions">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/ifss/v1">
      <xs:element name="ProcessDeliveryReply" type="ns:ProcessDeliveryReply"/>
      <xs:element name="ProcessDeliveryRequest" type="ns:ProcessDeliveryRequest"/>
      <xs:element name="ValidateDeliveryReply" type="ns:ValidateDeliveryReply"/>
      <xs:element name="ValidateDeliveryRequest" type="ns:ValidateDeliveryRequest"/>
      <xs:complexType name="Address">
        <xs:annotation>
          <xs:documentation>Descriptive data for a physical location. May be used as an actual physical address (place to which one could go), or as a container of "address parts" which should be handled as a unit (such as a city-state-ZIP combination within the US).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="StreetLines" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="City" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name of city, town, etc.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StateOrProvinceCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostalCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UrbanizationCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Relevant only to addresses in Puerto Rico.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The two-letter code used to identify a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The fully spelt out name of a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Residential" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates whether this address residential (as opposed to commercial).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AppointmentDetail">
        <xs:annotation>
          <xs:documentation>Specifies the different appointment times on a specific date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Date" type="xs:date" minOccurs="0"/>
          <xs:element name="WindowDetails" type="ns:AppointmentTimeDetail" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Different appointment time windows on the date specified.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AppointmentTimeDetail">
        <xs:annotation>
          <xs:documentation>Specifies the details about the appointment time window.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Type" type="ns:AppointmentWindowType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The description that FedEx Ground uses for the appointment window being specified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Window" type="ns:LocalTimeRange" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the window of time for an appointment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AppointmentWindowType">
        <xs:annotation>
          <xs:documentation>The description that FedEx uses for a given appointment window.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AFTERNOON"/>
          <xs:enumeration value="LATE_AFTERNOON"/>
          <xs:enumeration value="MID_DAY"/>
          <xs:enumeration value="MORNING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="AssociatedAccount">
        <xs:sequence>
          <xs:element name="Type" type="ns:AssociatedAccountNumberType" minOccurs="0"/>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AssociatedAccountNumberType">
        <xs:annotation>
          <xs:documentation>This enumeration represents a kind of "legacy" account number from a FedEx operating entity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FEDEX_EXPRESS"/>
          <xs:enumeration value="FEDEX_FREIGHT"/>
          <xs:enumeration value="FEDEX_GROUND"/>
          <xs:enumeration value="FEDEX_OFFICE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="AutoConfigurationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ENTERPRISE"/>
          <xs:enumeration value="SHIPPING_SERVICE_PROVIDER"/>
          <xs:enumeration value="SOFTWARE_ONLY"/>
          <xs:enumeration value="TRADITIONAL"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ClientDetail">
        <xs:annotation>
          <xs:documentation>Descriptive data for the client submitting a transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The FedEx account number associated with this transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GroundShipperNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The FedEx Ground account number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeterNumber" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>This number is assigned by FedEx and identifies the unique device from which the request is originating</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MasterMeterNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>FedEx internal use only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeterInstance" type="xs:string" minOccurs="0"/>
          <xs:element name="CompanyId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>FedEx internal use only. The PassKey company identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SoftwareId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Client software component (e.g. "CAFE", "INET", "WBUS", etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SoftwareRelease" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Client software component version/revision (e.g. "1800", "2630", etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientProductId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A FedEx assigned identifier for a third party software product used by customer to do business with FedEx. Such as a Compatible Solution Provider's product.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientProductVersion" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The version of the third party product.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MiddlewareProductId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>FedEx internal use only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MiddlewareProductVersion" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>FedEx internal use only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntegratorId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Only used in transactions which require identification of the FedEx Office integrator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Region" type="ns:ExpressRegionCode" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the region from which the transaction is submitted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AutoConfigurationType" type="ns:AutoConfigurationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Used for off-line uploads only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CspCredentialKey" type="xs:string" minOccurs="0"/>
          <xs:element name="UserCredentialKey" type="xs:string" minOccurs="0"/>
          <xs:element name="InitiativeManifest" type="ns:InitiativeManifest" minOccurs="0"/>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The language to be used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Contact">
        <xs:annotation>
          <xs:documentation>The descriptive data for a point-of-contact person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ContactId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Client provided identifier corresponding to this contact information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the contact person's name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the contact person's title.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompanyName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the company this contact is associated with.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the phone number associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneExtension" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the phone extension associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TollFreePhoneNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies a toll free number, if any, associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PagerNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the pager number associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FaxNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the fax number associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EMailAddress" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the email address associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactAndAddress">
        <xs:sequence>
          <xs:element name="Contact" type="ns:Contact" minOccurs="0"/>
          <xs:element name="Address" type="ns:Address" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreditCard">
        <xs:sequence>
          <xs:element name="Number" type="xs:string" minOccurs="0"/>
          <xs:element name="CreditCardType" type="ns:CreditCardType" minOccurs="0"/>
          <xs:element name="ExpirationDate" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Must be in one of the following formats: YYMM, YYYYMM, or YYYYMMDD.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LastAuthenticationByFedexDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Date when the credit card was last used in a FedEx online transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VerificationCode" type="xs:string" minOccurs="0"/>
          <xs:element name="CreditCardHolder" type="ns:ParsedContactAndAddress" minOccurs="0"/>
          <xs:element name="TrackData" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>This field contains the track data from the credit card stripe.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CreditCardAuthorizationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTHORIZE_NON_ACCOUNT"/>
          <xs:enumeration value="AUTHORIZE_WITH_ACCOUNT"/>
          <xs:enumeration value="VERIFY_WITH_ACCOUNT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CreditCardSettlementScheduleType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SETTLE_IMMEDIATELY"/>
          <xs:enumeration value="SETTLE_NEXT_DAY"/>
          <xs:enumeration value="SETTLE_ON_DELIVERY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CreditCardTransactionAttributeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ORIGINATED_BY_AUTHORIZED_PERSONNEL"/>
          <xs:enumeration value="ORIGINATED_BY_UNAUTHORIZED_PERSONNEL"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="CreditCardTransactionAttributesDetail">
        <xs:annotation>
          <xs:documentation>Specifies details about the credit card transaction that drive decisions about credit card processing.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Types" type="ns:CreditCardTransactionAttributeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreditCardTransactionDetail">
        <xs:annotation>
          <xs:documentation>This class represents data tied to the use of a credit card in a specific transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AuthorizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="AuthorizationType" type="ns:CreditCardAuthorizationType" minOccurs="0"/>
          <xs:element name="SettlementScheduleType" type="ns:CreditCardSettlementScheduleType" minOccurs="0"/>
          <xs:element name="FraudDetectionDetail" type="ns:CreditFraudDetectionDetail" minOccurs="0"/>
          <xs:element name="PayorAuthenticationCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies a secure code used for payor authentication in the credit card transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttributesDetail" type="ns:CreditCardTransactionAttributesDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies details about the credit card transaction that drive decisions about credit card processing.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CreditCardType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AMEX"/>
          <xs:enumeration value="DANKORT"/>
          <xs:enumeration value="DINERS"/>
          <xs:enumeration value="DISCOVER"/>
          <xs:enumeration value="JCB"/>
          <xs:enumeration value="MASTERCARD"/>
          <xs:enumeration value="VISA"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="CreditFraudDetectionDetail">
        <xs:annotation>
          <xs:documentation>This class is a rename of the previous VerifyCreditFraudDetail; the name change reflects the fact that it is no longer tied to a "verify" usage.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="IpAddress" type="xs:string" minOccurs="0"/>
          <xs:element name="ClientCookiesEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="DevicePrint" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DeliveryActionType">
        <xs:annotation>
          <xs:documentation>Specifies the actions that can be taken on a delivery option.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADD"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DeliveryOptionType">
        <xs:annotation>
          <xs:documentation>Specifies the different option types for delivery.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="REDIRECT_TO_HOLD_AT_LOCATION"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="DeliveryRequestDetail">
        <xs:sequence>
          <xs:element name="Type" type="ns:DeliveryOptionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the delivery type of delivery option.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RedirectToHoldAtLocationDetail" type="ns:RedirectToHoldAtLocationRequestDetail" minOccurs="0"/>
          </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DocumentFormatOptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUPPRESS_ADDITIONAL_LANGUAGES"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="DocumentFormatOptionsRequested">
        <xs:sequence>
          <xs:element name="Options" type="ns:DocumentFormatOptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="EMailNotificationRecipientType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BROKER"/>
          <xs:enumeration value="OTHER"/>
          <xs:enumeration value="RECIPIENT"/>
          <xs:enumeration value="SHIPPER"/>
          <xs:enumeration value="THIRD_PARTY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ExpressRegionCode">
        <xs:annotation>
          <xs:documentation>Indicates a FedEx Express operating region.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="APAC"/>
          <xs:enumeration value="CA"/>
          <xs:enumeration value="EMEA"/>
          <xs:enumeration value="LAC"/>
          <xs:enumeration value="US"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="InitiativeManifest">
        <xs:annotation>
          <xs:documentation>Represents a transaction-specific set of initiative control data for all services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Content" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Compressed data representing status of initiatives per domain and service.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinearMeasure">
        <xs:annotation>
          <xs:documentation>Represents a one-dimensional measurement in small units (e.g. suitable for measuring a package or document), contrasted with Distance, which represents a large one-dimensional measurement (e.g. distance between cities).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Value" type="xs:decimal" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The numerical quantity of this measurement.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Units" type="ns:LinearUnits" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The units for this measurement.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="LinearUnits">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CM"/>
          <xs:enumeration value="IN"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="LocalTimeRange">
        <xs:annotation>
          <xs:documentation>Time Range specified in local time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Begins" type="xs:string" minOccurs="0"/>
          <xs:element name="Ends" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Localization">
        <xs:annotation>
          <xs:documentation>Identifies the representation of human-readable text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="LanguageCode" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Two-letter code for language (e.g. EN, FR, etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocaleCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Two-letter code for the region (e.g. us, ca, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Money">
        <xs:sequence>
          <xs:element name="Currency" type="xs:string" minOccurs="0"/>
          <xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the result of the submitted transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Severity" type="ns:NotificationSeverityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The severity of this notification. This can indicate success or failure or some other information about the request. The values that can be returned are SUCCESS - Your transaction succeeded with no other applicable information. NOTE - Additional information that may be of interest to you about your transaction. WARNING - Additional information that you need to know about your transaction that you may need to take action on. ERROR - Information about an error that occurred while processing your transaction. FAILURE - FedEx was unable to process your transaction at this time due to a system failure. Please try again later</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Source" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the source of this notification. Combined with the Code it uniquely identifies this notification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Code" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A code that represents this notification. Combined with the Source it uniquely identifies this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Human-readable text that explains this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The translated message. The language and locale specified in the ClientDetail. Localization are used to determine the representation. Currently only supported in a TrackReply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MessageParameters" type="ns:NotificationParameter" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A collection of name/value pairs that provide specific data to help the client determine the nature of an error (or warning, etc.) without having to parse the message string.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationParameter">
        <xs:sequence>
          <xs:element name="Id" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the type of data contained in Value (e.g. SERVICE_TYPE, PACKAGE_SEQUENCE, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Value" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The value of the parameter (e.g. PRIORITY_OVERNIGHT, 2, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NotificationSeverityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="NOTE"/>
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="WARNING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="OperationalDocumentPart">
        <xs:annotation>
          <xs:documentation>A single part of an operational document, such as one page of a multiple-page document whose format requires a separate image per page.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="DocumentPartSequenceNumber" type="xs:positiveInteger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The one-origin position of this part within a document.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Image" type="xs:base64Binary" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Graphic or printer commands for this image within a document.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OperationalDocumentSpecification">
        <xs:sequence>
          <xs:element name="DocumentTypes" type="ns:OperationalDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifies the types of operational documents to be produced.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatureReleaseDocumentDetail" type="ns:SignatureReleaseDocumentDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the data required to produce a singature release document.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="OperationalDocumentType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SIGNATURE_RELEASE_DOCUMENT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ParsedContact">
        <xs:annotation>
          <xs:documentation>This type contains equivalent data to Contact, but uses a form of person name with separate first and last names.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="PersonName" type="ns:ParsedPersonName" minOccurs="0"/>
          <xs:element name="Title" type="xs:string" minOccurs="0"/>
          <xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
          <xs:element name="PhoneNumberCountryCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the country code to be dialled when calling the phone number listed as a part of the contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneNumberAreaCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the area code of the phone number listed as a part of the contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PhoneNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="PhoneExtension" type="xs:string" minOccurs="0"/>
          <xs:element name="PagerNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="FaxNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="EMailAddress" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParsedContactAndAddress">
        <xs:annotation>
          <xs:documentation>This type contains equivalent data to ContactAndAddress, but uses a form of person name with separate first, middle and last names.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Contact" type="ns:ParsedContact" minOccurs="0"/>
          <xs:element name="Address" type="ns:Address" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParsedPersonName">
        <xs:annotation>
          <xs:documentation>The descriptive data for a person's name broken out into individual name elements such as first name, last name.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Prefix" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the salutation part of the name, if any is specified. Examples of prefix: Sir, Madam, Monsieur.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the professional title in the person name, if any is specified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
          <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
          <xs:element name="LastName" type="xs:string" minOccurs="0"/>
          <xs:element name="Suffix" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the contact person's name suffix.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Party">
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="Tins" type="ns:TaxpayerIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Contact" type="ns:Contact" minOccurs="0"/>
          <xs:element name="Address" type="ns:Address" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="PaymentType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACCOUNT"/>
          <xs:enumeration value="CASH"/>
          <xs:enumeration value="COLLECT"/>
          <xs:enumeration value="CREDIT_CARD"/>
          <xs:enumeration value="RECIPIENT"/>
          <xs:enumeration value="SENDER"/>
          <xs:enumeration value="THIRD_PARTY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Payor">
        <xs:sequence>
          <xs:element name="ResponsibleParty" type="ns:Party" minOccurs="0"/>
          <xs:element name="AssociatedAccounts" type="ns:AssociatedAccount" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProcessDeliveryReply">
        <xs:annotation>
          <xs:documentation>Reply parameter of IFSS method to process a specific delivery option</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1"/>
          <xs:element name="Notifications" type="ns:Notification" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="Confirmation" type="xs:string" minOccurs="0"/>
          <xs:element name="MasterTrackingNumber" type="ns:TrackingId" minOccurs="0"/>
          <xs:element name="PackageCount" type="xs:nonNegativeInteger" minOccurs="0"/>
          <xs:element name="EstimatedDeliveryTimestamp" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Projected delivery time based on delivery option requested.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProcessDeliveryRequest">
        <xs:annotation>
          <xs:documentation>Request parameter of IFSS method to process a specific delivery option.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="1"/>
          <xs:element name="UserDetail" type="ns:UserDetail" minOccurs="0"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="ApplicationId" type="xs:string" minOccurs="0"/>
          <xs:element name="ActionRequested" type="ns:DeliveryActionType" minOccurs="0"/>
          <xs:element name="UniqueTrackingNumber" type="ns:UniqueTrackingNumber" minOccurs="0"/>
          <xs:element name="RecipientContact" type="ns:Contact" minOccurs="0"/>
          <xs:element name="DestinationAddress" type="ns:Address" minOccurs="0"/>
          <xs:element name="DeliveryRequestDetail" type="ns:DeliveryRequestDetail" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RatedDeliveryDetail">
        <xs:sequence>
          <xs:element name="TotalPieces" type="xs:nonNegativeInteger" minOccurs="0"/>
          <xs:element name="TotalNetCharge" type="ns:Money" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Total charges for this shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalSurcharges" type="ns:Money" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Total surcharges for this shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Surcharges" type="ns:Surcharge" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifies the details about surcharges.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RedirectToHoldAtLocationRequestDetail">
        <xs:sequence>
          <xs:element name="HoldingLocationId" type="xs:string" minOccurs="0"/>
          <xs:element name="HoldingLocationNumber" type="xs:int" minOccurs="0"/>
          <xs:element name="HoldingLocationContactAndAddress" type="ns:ContactAndAddress" minOccurs="0"/>
          <xs:element name="Comments" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RerouteDeliveryDetail">
        <xs:annotation>
          <xs:documentation>Specifies the details about rerouting a shipment for delivery.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Type" type="ns:RerouteDeliveryType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the reroute option.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransitTime" type="ns:TransitTimeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the commit time for a FedEx Ground shipment that is being rerouted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommitmentDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the commit date for a FedEx Express shipment that is being rereouted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommitmentTime" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the commit time in local time of the destination for a FedEx Express shipment that is being rerouted.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="RerouteDeliveryType">
        <xs:annotation>
          <xs:documentation>Specifies the different ways to reroute a shipment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CROSS_COUNTRY_DEFERRED"/>
          <xs:enumeration value="CROSS_COUNTRY_EXPEDITED"/>
          <xs:enumeration value="LOCAL"/>
          <xs:enumeration value="UNDETERMINED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RescheduleDeliveryType">
        <xs:annotation>
          <xs:documentation>Specifies the ways to reschedule the delivery of a shipment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="APPOINTMENT"/>
          <xs:enumeration value="DATE_CERTAIN"/>
          <xs:enumeration value="EVENING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ShippingDocumentDispositionDetail">
        <xs:annotation>
          <xs:documentation>Each occurrence of this class specifies a particular way in which a kind of shipping document is to be produced and provided.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="DispositionType" type="ns:ShippingDocumentDispositionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Values in this field specify how to create and return the document.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Grouping" type="ns:ShippingDocumentGroupingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies how to organize all documents of this type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StorageDetail" type="ns:ShippingDocumentStorageDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies how to store document images.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EMailDetail" type="ns:ShippingDocumentEMailDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies how to e-mail document images.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrintDetail" type="ns:ShippingDocumentPrintDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies how a queued document is to be printed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ShippingDocumentDispositionType">
        <xs:annotation>
          <xs:documentation>Specifies how to return a shipping document to the caller.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CONFIRMED"/>
          <xs:enumeration value="DEFERRED_QUEUED"/>
          <xs:enumeration value="DEFERRED_RETURNED"/>
          <xs:enumeration value="DEFERRED_STORED"/>
          <xs:enumeration value="EMAILED"/>
          <xs:enumeration value="QUEUED"/>
          <xs:enumeration value="RETURNED"/>
          <xs:enumeration value="STORED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ShippingDocumentEMailDetail">
        <xs:annotation>
          <xs:documentation>Specifies how to e-mail shipping documents.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="EMailRecipients" type="ns:ShippingDocumentEMailRecipient" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Provides the roles and email addresses for e-mail recipients.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Grouping" type="ns:ShippingDocumentEMailGroupingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the convention by which documents are to be grouped as e-mail attachments.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the language in which the email containing the document is requested to be composed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ShippingDocumentEMailGroupingType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BY_RECIPIENT"/>
          <xs:enumeration value="NONE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ShippingDocumentEMailRecipient">
        <xs:annotation>
          <xs:documentation>Specifies an individual recipient of e-mailed shipping document(s).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="RecipientType" type="ns:EMailNotificationRecipientType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the relationship of this recipient in the shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Address to which the document is to be sent.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShippingDocumentFormat">
        <xs:annotation>
          <xs:documentation>Specifies characteristics of a shipping document to be produced.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Dispositions" type="ns:ShippingDocumentDispositionDetail" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifies how to create, organize, and return the document.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TopOfPageOffset" type="ns:LinearMeasure" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies how far down the page to move the beginning of the image; allows for printing on letterhead and other pre-printed stock.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImageType" type="ns:ShippingDocumentImageType" minOccurs="0"/>
          <xs:element name="StockType" type="ns:ShippingDocumentStockType" minOccurs="0"/>
          <xs:element name="ProvideInstructions" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For those shipping document types which have both a "form" and "instructions" component (e.g. NAFTA Certificate of Origin and General Agency Agreement), this field indicates whether to provide the instructions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OptionsRequested" type="ns:DocumentFormatOptionsRequested" minOccurs="0"/>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs the language to be used for this individual document, independently from other content returned for the same shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomDocumentIdentifier" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the individual document specified by the client.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ShippingDocumentGroupingType">
        <xs:annotation>
          <xs:documentation>Specifies how to organize all shipping documents of the same type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CONSOLIDATED_BY_DOCUMENT_TYPE"/>
          <xs:enumeration value="CONSOLIDATED_BY_IMAGE_TYPE"/>
          <xs:enumeration value="INDIVIDUAL"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ShippingDocumentImageType">
        <xs:annotation>
          <xs:documentation>Specifies the image format used for a shipping document.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DIB"/>
          <xs:enumeration value="DOC"/>
          <xs:enumeration value="DPL"/>
          <xs:enumeration value="EPL2"/>
          <xs:enumeration value="GIF"/>
          <xs:enumeration value="PDF"/>
          <xs:enumeration value="PNG"/>
          <xs:enumeration value="RTF"/>
          <xs:enumeration value="TEXT"/>
          <xs:enumeration value="ZPLII"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ShippingDocumentNamingType">
        <xs:annotation>
          <xs:documentation>Identifies the convention by which file names are constructed for STORED or DEFERRED documents.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FAST"/>
          <xs:enumeration value="LEGACY_FXRS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ShippingDocumentPrintDetail">
        <xs:annotation>
          <xs:documentation>Specifies printing options for a shipping document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="PrinterId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Provides environment-specific printer identification.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ShippingDocumentStockType">
        <xs:annotation>
          <xs:documentation>Specifies the type of paper (stock) on which a document will be printed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="OP_900_LG"/>
          <xs:enumeration value="OP_900_LG_B"/>
          <xs:enumeration value="OP_900_LL"/>
          <xs:enumeration value="OP_900_LL_B"/>
          <xs:enumeration value="OP_950"/>
          <xs:enumeration value="PAPER_4X6"/>
          <xs:enumeration value="PAPER_4_PER_PAGE_PORTRAIT"/>
          <xs:enumeration value="PAPER_LETTER"/>
          <xs:enumeration value="STOCK_4X6"/>
          <xs:enumeration value="STOCK_4X6.75_LEADING_DOC_TAB"/>
          <xs:enumeration value="STOCK_4X6.75_TRAILING_DOC_TAB"/>
          <xs:enumeration value="STOCK_4X8"/>
          <xs:enumeration value="STOCK_4X9_LEADING_DOC_TAB"/>
          <xs:enumeration value="STOCK_4X9_TRAILING_DOC_TAB"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ShippingDocumentStorageDetail">
        <xs:annotation>
          <xs:documentation>Specifies how to store shipping documents.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="FilePath" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Provides the path to be used for STORED or DEFERRED documents.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FileNaming" type="ns:ShippingDocumentNamingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the convention by which file names are constructed for STORED or DEFERRED documents.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FileSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Suffix to be placed at the end of the file name; required on some platforms to determine file type.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SignatureReleaseDocumentDetail">
        <xs:annotation>
          <xs:documentation>Specifies the details needed to produce a door tag.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Format" type="ns:ShippingDocumentFormat" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Common information controlling document production.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Surcharge">
        <xs:sequence>
          <xs:element name="SurchargeType" type="ns:SurchargeType" minOccurs="0"/>
          <xs:element name="Level" type="ns:SurchargeLevelType" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="Amount" type="ns:Money" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SurchargeLevelType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PACKAGE"/>
          <xs:enumeration value="SHIPMENT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SurchargeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADDITIONAL_HANDLING"/>
          <xs:enumeration value="ANCILLARY_FEE"/>
          <xs:enumeration value="APPOINTMENT_DELIVERY"/>
          <xs:enumeration value="BLIND_SHIPMENT"/>
          <xs:enumeration value="BROKER_SELECT_OPTION"/>
          <xs:enumeration value="CANADIAN_DESTINATION"/>
          <xs:enumeration value="CHARGEABLE_PALLET_WEIGHT"/>
          <xs:enumeration value="CLEARANCE_ENTRY_FEE"/>
          <xs:enumeration value="COD"/>
          <xs:enumeration value="CUT_FLOWERS"/>
          <xs:enumeration value="DANGEROUS_GOODS"/>
          <xs:enumeration value="DELIVERY_AREA"/>
          <xs:enumeration value="DELIVERY_CONFIRMATION"/>
          <xs:enumeration value="DELIVERY_ON_INVOICE_ACCEPTANCE"/>
          <xs:enumeration value="DETENTION"/>
          <xs:enumeration value="DOCUMENTATION_FEE"/>
          <xs:enumeration value="DRY_ICE"/>
          <xs:enumeration value="EMAIL_LABEL"/>
          <xs:enumeration value="EUROPE_FIRST"/>
          <xs:enumeration value="EXCESS_VALUE"/>
          <xs:enumeration value="EXCLUSIVE_USE"/>
          <xs:enumeration value="EXHIBITION"/>
          <xs:enumeration value="EXPEDITED"/>
          <xs:enumeration value="EXPORT"/>
          <xs:enumeration value="EXTRA_LABOR"/>
          <xs:enumeration value="EXTRA_SURFACE_HANDLING_CHARGE"/>
          <xs:enumeration value="EXTREME_LENGTH"/>
          <xs:enumeration value="FEDEX_INTRACOUNTRY_FEES"/>
          <xs:enumeration value="FEDEX_TAG"/>
          <xs:enumeration value="FICE"/>
          <xs:enumeration value="FLATBED"/>
          <xs:enumeration value="FREIGHT_GUARANTEE"/>
          <xs:enumeration value="FREIGHT_ON_VALUE"/>
          <xs:enumeration value="FREIGHT_TO_COLLECT"/>
          <xs:enumeration value="FUEL"/>
          <xs:enumeration value="HOLD_AT_LOCATION"/>
          <xs:enumeration value="HOLIDAY_DELIVERY"/>
          <xs:enumeration value="HOLIDAY_GUARANTEE"/>
          <xs:enumeration value="HOME_DELIVERY_APPOINTMENT"/>
          <xs:enumeration value="HOME_DELIVERY_DATE_CERTAIN"/>
          <xs:enumeration value="HOME_DELIVERY_EVENING"/>
          <xs:enumeration value="INSIDE_DELIVERY"/>
          <xs:enumeration value="INSIDE_PICKUP"/>
          <xs:enumeration value="INSURED_VALUE"/>
          <xs:enumeration value="INTERHAWAII"/>
          <xs:enumeration value="LIFTGATE_DELIVERY"/>
          <xs:enumeration value="LIFTGATE_PICKUP"/>
          <xs:enumeration value="LIMITED_ACCESS_DELIVERY"/>
          <xs:enumeration value="LIMITED_ACCESS_PICKUP"/>
          <xs:enumeration value="MARKING_OR_TAGGING"/>
          <xs:enumeration value="METRO_DELIVERY"/>
          <xs:enumeration value="METRO_PICKUP"/>
          <xs:enumeration value="NON_BUSINESS_TIME"/>
          <xs:enumeration value="NON_MACHINABLE"/>
          <xs:enumeration value="OFFSHORE"/>
          <xs:enumeration value="ON_CALL_PICKUP"/>
          <xs:enumeration value="OTHER"/>
          <xs:enumeration value="OUT_OF_DELIVERY_AREA"/>
          <xs:enumeration value="OUT_OF_PICKUP_AREA"/>
          <xs:enumeration value="OVERSIZE"/>
          <xs:enumeration value="OVER_DIMENSION"/>
          <xs:enumeration value="PALLETS_PROVIDED"/>
          <xs:enumeration value="PALLET_SHRINKWRAP"/>
          <xs:enumeration value="PERMIT"/>
          <xs:enumeration value="PIECE_COUNT_VERIFICATION"/>
          <xs:enumeration value="PORT"/>
          <xs:enumeration value="PRE_DELIVERY_NOTIFICATION"/>
          <xs:enumeration value="PRIORITY_ALERT"/>
          <xs:enumeration value="PROTECTION_FROM_FREEZING"/>
          <xs:enumeration value="REGIONAL_MALL_DELIVERY"/>
          <xs:enumeration value="REGIONAL_MALL_PICKUP"/>
          <xs:enumeration value="REROUTE"/>
          <xs:enumeration value="RESCHEDULE"/>
          <xs:enumeration value="RESIDENTIAL_DELIVERY"/>
          <xs:enumeration value="RESIDENTIAL_PICKUP"/>
          <xs:enumeration value="RETURN_LABEL"/>
          <xs:enumeration value="SATURDAY_DELIVERY"/>
          <xs:enumeration value="SATURDAY_PICKUP"/>
          <xs:enumeration value="SHIPMENT_ASSEMBLY"/>
          <xs:enumeration value="SIGNATURE_OPTION"/>
          <xs:enumeration value="SORT_AND_SEGREGATE"/>
          <xs:enumeration value="SPECIAL_DELIVERY"/>
          <xs:enumeration value="SPECIAL_EQUIPMENT"/>
          <xs:enumeration value="STORAGE"/>
          <xs:enumeration value="SUNDAY_DELIVERY"/>
          <xs:enumeration value="TARP"/>
          <xs:enumeration value="THIRD_PARTY_CONSIGNEE"/>
          <xs:enumeration value="TRANSMART_SERVICE_FEE"/>
          <xs:enumeration value="USPS"/>
          <xs:enumeration value="WEIGHING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TaxpayerIdentification">
        <xs:sequence>
          <xs:element name="TinType" type="ns:TinType" minOccurs="0"/>
          <xs:element name="Number" type="xs:string" minOccurs="0"/>
          <xs:element name="Usage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the usage of Tax Identification Number in Shipment processing</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TinType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BUSINESS_NATIONAL"/>
          <xs:enumeration value="BUSINESS_STATE"/>
          <xs:enumeration value="BUSINESS_UNION"/>
          <xs:enumeration value="PERSONAL_NATIONAL"/>
          <xs:enumeration value="PERSONAL_STATE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TrackingId">
        <xs:sequence>
          <xs:element name="TrackingIdType" type="ns:TrackingIdType" minOccurs="0"/>
          <xs:element name="FormId" type="xs:string" minOccurs="0"/>
          <xs:element name="UspsApplicationId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For use with SmartPost tracking IDs only</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TrackingIdType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="EXPRESS"/>
          <xs:enumeration value="FEDEX"/>
          <xs:enumeration value="FREIGHT"/>
          <xs:enumeration value="GROUND"/>
          <xs:enumeration value="INTERNAL"/>
          <xs:enumeration value="UNKNOWN"/>
          <xs:enumeration value="USPS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TransactionDetail">
        <xs:sequence>
          <xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Free form text to be echoed back in the reply. Used to match requests and replies.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs data payload language/translations (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InternalTransactionId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Unique identifier assigned/forwarded by internal FAST services only, to associate service transactions comprising a single business work unit.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tracing" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Each FAST service should log request/reply pairs for any transaction in which this attribute is true. This is for internal use only (capturing transaction data for diagnostic purposes).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceFormat" type="ns:TransactionSourceFormat" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the format in which the transaction was presented to FedEx, used to help identify error-translation context.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Environment" type="ns:WebServiceEnvironment" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the environment (level) in which the current transaction should be processed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TransactionSourceFormat">
        <xs:restriction base="xs:string">
          <xs:enumeration value="API_CTS"/>
          <xs:enumeration value="API_XML"/>
          <xs:enumeration value="DIRECT"/>
          <xs:enumeration value="DIRECT_XML"/>
          <xs:enumeration value="FXRS_CTS"/>
          <xs:enumeration value="UNKNOWN"/>
          <xs:enumeration value="WSI_XML"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TransitTimeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="EIGHTEEN_DAYS"/>
          <xs:enumeration value="EIGHT_DAYS"/>
          <xs:enumeration value="ELEVEN_DAYS"/>
          <xs:enumeration value="FIFTEEN_DAYS"/>
          <xs:enumeration value="FIVE_DAYS"/>
          <xs:enumeration value="FOURTEEN_DAYS"/>
          <xs:enumeration value="FOUR_DAYS"/>
          <xs:enumeration value="NINETEEN_DAYS"/>
          <xs:enumeration value="NINE_DAYS"/>
          <xs:enumeration value="ONE_DAY"/>
          <xs:enumeration value="SEVENTEEN_DAYS"/>
          <xs:enumeration value="SEVEN_DAYS"/>
          <xs:enumeration value="SIXTEEN_DAYS"/>
          <xs:enumeration value="SIX_DAYS"/>
          <xs:enumeration value="TEN_DAYS"/>
          <xs:enumeration value="THIRTEEN_DAYS"/>
          <xs:enumeration value="THREE_DAYS"/>
          <xs:enumeration value="TWELVE_DAYS"/>
          <xs:enumeration value="TWENTY_DAYS"/>
          <xs:enumeration value="TWO_DAYS"/>
          <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="UniqueTrackingNumber">
        <xs:sequence>
          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="TrackingNumberUniqueIdentifier" type="xs:string" minOccurs="0"/>
          <xs:element name="ShipDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserDetail">
        <xs:sequence>
          <xs:element name="UserId" type="xs:string" minOccurs="0"/>
          <xs:element name="Password" type="xs:string" minOccurs="0"/>
          <xs:element name="UniqueUserId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidateDeliveryReply">
        <xs:annotation>
          <xs:documentation>Reply parameter of IFSS method to validate a delivry option.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1"/>
          <xs:element name="Notifications" type="ns:Notification" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidateDeliveryRequest">
        <xs:annotation>
          <xs:documentation>Request parameter of IFSS method to validate a delivery option.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="1"/>
          <xs:element name="UserDetail" type="ns:UserDetail" minOccurs="0"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="ApplicationId" type="xs:string" minOccurs="0"/>
          <xs:element name="ActionRequested" type="ns:DeliveryActionType" minOccurs="0"/>
          <xs:element name="UniqueTrackingNumber" type="ns:UniqueTrackingNumber" minOccurs="0"/>
          <xs:element name="RecipientContact" type="ns:Contact" minOccurs="0"/>
          <xs:element name="DestinationAddress" type="ns:Address" minOccurs="0"/>
          <xs:element name="DeliveryRequestDetail" type="ns:DeliveryRequestDetail" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="WebServiceEnvironment">
        <xs:annotation>
          <xs:documentation>Identifies the environment (level) for which an AuthenticationCredential is valid, and within which transactions are received.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="PRODUCTION"/>
          <xs:enumeration value="TEST"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="WebAuthenticationDetail">
        <xs:annotation>
          <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ParentCredential" type="ns:WebAuthenticationCredential" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This was renamed from cspCredential.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationCredential">
        <xs:annotation>
          <xs:documentation>Two part authentication string used for the sender's identity</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Key" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifying part of authentication credential. This value is provided by FedEx after registration</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Password" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Secret part of authentication key. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionId">
        <xs:annotation>
          <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ServiceId" type="xs:string" fixed="ifss" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Major" type="xs:int" fixed="1" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service business level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Intermediate" type="xs:int" fixed="0" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service interface level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Minor" type="xs:int" fixed="0" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service code level.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ValidateDeliveryRequest">
    <part name="ValidateDeliveryRequest" element="ns:ValidateDeliveryRequest"/>
  </message>
  <message name="ValidateDeliveryReply">
    <part name="ValidateDeliveryReply" element="ns:ValidateDeliveryReply"/>
  </message>
  <message name="ProcessDeliveryRequest">
    <part name="ProcessDeliveryRequest" element="ns:ProcessDeliveryRequest"/>
  </message>
  <message name="ProcessDeliveryReply">
    <part name="ProcessDeliveryReply" element="ns:ProcessDeliveryReply"/>
  </message>
  <portType name="IFSSPortType">
    <operation name="validateDelivery" parameterOrder="ValidateDeliveryRequest">
      <input message="ns:ValidateDeliveryRequest"/>
      <output message="ns:ValidateDeliveryReply"/>
    </operation>
    <operation name="processDelivery" parameterOrder="ProcessDeliveryRequest">
      <input message="ns:ProcessDeliveryRequest"/>
      <output message="ns:ProcessDeliveryReply"/>
    </operation>
  </portType>
  <binding name="IFSSServiceSoapBinding" type="ns:IFSSPortType">
    <s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="validateDelivery">
      <s1:operation soapAction="http://fedex.com/ws/ifss/v1/validateDelivery" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="processDelivery">
      <s1:operation soapAction="http://fedex.com/ws/ifss/v1/processDelivery" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="IFSSService">
    <port name="IFSSServicePort" binding="ns:IFSSServiceSoapBinding">
      <s1:address location="https://wsbeta.fedex.com:443/web-services/ifss"/>
    </port>
  </service>
</definitions>
