src/FedEx/_wsdl/UploadDocumentService_v11.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/uploaddocument/v11" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/uploaddocument/v11" name="UploadDocumentServiceDefinitions">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/uploaddocument/v11">
      <xs:element name="UploadDocumentsReply" type="ns:UploadDocumentsReply"/>
      <xs:element name="UploadDocumentsRequest" type="ns:UploadDocumentsRequest"/>
      <xs:element name="UploadImagesReply" type="ns:UploadImagesReply"/>
      <xs:element name="UploadImagesRequest" type="ns:UploadImagesRequest"/>
      <xs:complexType name="ClientDetail">
        <xs:annotation>
          <xs:documentation>Descriptive data for the client submitting a transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The FedEx account number associated with this transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeterNumber" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>This number is assigned by FedEx and identifies the unique device from which the request is originating</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntegratorId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Only used in transactions which require identification of the FedEx Office integrator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The language to be used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocumentGenerationDetail">
        <xs:sequence>
          <xs:element name="Type" type="ns:EnterpriseDocumentType" minOccurs="0"/>
          <xs:element name="MinimumCopiesRequired" type="xs:nonNegativeInteger" minOccurs="0"/>
          <xs:element name="Letterhead" type="ns:RequirementType" minOccurs="0"/>
          <xs:element name="ElectronicSignature" type="ns:RequirementType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocumentRequirementsDetail">
        <xs:sequence>
          <xs:element name="RequiredDocuments" type="ns:RequiredDocumentType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="GenerationDetails" type="ns:DocumentGenerationDetail" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ProhibitedDocuments" type="ns:EnterpriseDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Lists the documents that are not accepted by FedEx for this shipment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DocumentUsageType">
        <xs:annotation>
          <xs:documentation>Specifies the usage or intent of the document in the current context.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CUSTOMER_INFORMATION"/>
          <xs:enumeration value="ELECTRONIC_TRADE_DOCUMENTS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EnterpriseDocumentType">
        <xs:annotation>
          <xs:documentation>This identifies some of the document types recognized by Enterprise Document Management Service.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AIR_WAYBILL"/>
          <xs:enumeration value="CERTIFICATE_OF_ORIGIN"/>
          <xs:enumeration value="COMMERCIAL_INVOICE"/>
          <xs:enumeration value="NAFTA_CERTIFICATE_OF_ORIGIN"/>
          <xs:enumeration value="PRO_FORMA_INVOICE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ImageId">
        <xs:restriction base="xs:string">
          <xs:enumeration value="IMAGE_1"/>
          <xs:enumeration value="IMAGE_2"/>
          <xs:enumeration value="IMAGE_3"/>
          <xs:enumeration value="IMAGE_4"/>
          <xs:enumeration value="IMAGE_5"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ImageUploadStatusDetail">
        <xs:sequence>
          <xs:element name="Id" type="ns:ImageId" minOccurs="0"/>
          <xs:element name="Status" type="ns:UploadImageStatusType" minOccurs="0"/>
          <xs:element name="StatusInfo" type="ns:UploadImageStatusInfoType" minOccurs="0"/>
          <xs:element name="Message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Localization">
        <xs:annotation>
          <xs:documentation>Identifies the representation of human-readable text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="LanguageCode" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Two-letter code for language (e.g. EN, FR, etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocaleCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Two-letter code for the region (e.g. us, ca, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the result of the submitted transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Severity" type="ns:NotificationSeverityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The severity of this notification. This can indicate success or failure or some other information about the request. The values that can be returned are SUCCESS - Your transaction succeeded with no other applicable information. NOTE - Additional information that may be of interest to you about your transaction. WARNING - Additional information that you need to know about your transaction that you may need to take action on. ERROR - Information about an error that occurred while processing your transaction. FAILURE - FedEx was unable to process your transaction at this time due to a system failure. Please try again later</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Source" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the source of this notification. Combined with the Code it uniquely identifies this notification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Code" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A code that represents this notification. Combined with the Source it uniquely identifies this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Human-readable text that explains this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The translated message. The language and locale specified in the ClientDetail. Localization are used to determine the representation. Currently only supported in a TrackReply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MessageParameters" type="ns:NotificationParameter" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A collection of name/value pairs that provide specific data to help the client determine the nature of an error (or warning, etc.) without having to parse the message string.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationParameter">
        <xs:sequence>
          <xs:element name="Id" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the type of data contained in Value (e.g. SERVICE_TYPE, PACKAGE_SEQUENCE, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Value" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The value of the parameter (e.g. PRIORITY_OVERNIGHT, 2, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NotificationSeverityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="NOTE"/>
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="WARNING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PostShipmentUploadDetail">
        <xs:sequence>
          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The tracking number field should be provided when uploading documents after the shipment has been processed or confirmed. This is only applicable if the shipment has been processed with the POST_SHIPMENT_UPLOAD_REQUESTED ETD attribute.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="RequiredDocumentType">
        <xs:annotation>
          <xs:documentation>This identifies the document types that can be required. This can also indicate when either a COMMERCIAL_INVOICE or a PRO_FORMA_INVOICE is required through the COMMERCIAL_OR_PRO_FORMA_INVOICE option.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AIR_WAYBILL"/>
          <xs:enumeration value="CERTIFICATE_OF_ORIGIN"/>
          <xs:enumeration value="COMMERCIAL_INVOICE"/>
          <xs:enumeration value="COMMERCIAL_OR_PRO_FORMA_INVOICE"/>
          <xs:enumeration value="NAFTA_CERTIFICATE_OF_ORIGIN"/>
          <xs:enumeration value="PRO_FORMA_INVOICE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RequirementType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OPTIONAL"/>
          <xs:enumeration value="PROHIBITED"/>
          <xs:enumeration value="REQUIRED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TransactionDetail">
        <xs:sequence>
          <xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Free form text to be echoed back in the reply. Used to match requests and replies.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs data payload language/translations (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadDocumentDetail">
        <xs:sequence>
          <xs:element name="LineNumber" type="xs:nonNegativeInteger" minOccurs="0"/>
          <xs:element name="CustomerReference" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentType" type="ns:UploadDocumentType" minOccurs="0"/>
          <xs:element name="FileName" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentContent" type="xs:base64Binary" minOccurs="0"/>
          <xs:element name="ExpirationDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the date until which the document is available</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="UploadDocumentIdProducer">
        <xs:annotation>
          <xs:documentation>Specifies the application that is responsible for managing the document id.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CUSTOMER"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UploadDocumentProducerType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CUSTOMER"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="UploadDocumentStatusDetail">
        <xs:sequence>
          <xs:element name="LineNumber" type="xs:nonNegativeInteger" minOccurs="0"/>
          <xs:element name="CustomerReference" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentProducer" type="ns:UploadDocumentProducerType" minOccurs="0"/>
          <xs:element name="DocumentType" type="ns:UploadDocumentType" minOccurs="0"/>
          <xs:element name="FileName" type="xs:string" minOccurs="0"/>
          <xs:element name="Status" type="ns:UploadDocumentStatusType" minOccurs="0"/>
          <xs:element name="StatusInfo" type="ns:UploadDocumentStatusInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Distinct value for reason status was assigned.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Human-readable explanation of document status.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentId" type="xs:string" minOccurs="0"/>
          <xs:element name="DocumentIdProducer" type="ns:UploadDocumentIdProducer" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="UploadDocumentStatusInfoType">
        <xs:annotation>
          <xs:documentation>Each of these values identifies a specific reason why a document or reference could not be uploaded or associated with a shipment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DOCUMENT_CONTENT_FAILED_VIRUS_CHECK"/>
          <xs:enumeration value="DOCUMENT_CONTENT_MISSING"/>
          <xs:enumeration value="DOCUMENT_CONTENT_TOO_LARGE"/>
          <xs:enumeration value="DOCUMENT_FILE_NAME_MISSING"/>
          <xs:enumeration value="DOCUMENT_FORMAT_NOT_SUPPORTED"/>
          <xs:enumeration value="DOCUMENT_ID_INVALID"/>
          <xs:enumeration value="DOCUMENT_ID_MISSING"/>
          <xs:enumeration value="DOCUMENT_TYPE_INVALID"/>
          <xs:enumeration value="DOCUMENT_TYPE_MISSING"/>
          <xs:enumeration value="DOCUMENT_TYPE_NOT_ALLOWED_FOR_ETD"/>
          <xs:enumeration value="ELECTRONIC_CLEARANCE_NOT_ALLOWED_AT_DESTINATION"/>
          <xs:enumeration value="ELECTRONIC_CLEARANCE_NOT_ALLOWED_AT_ORIGIN"/>
          <xs:enumeration value="EXPIRATION_DATE_INVALID"/>
          <xs:enumeration value="FILENAME_TOO_LONG"/>
          <xs:enumeration value="UNABLE_TO_PROCESS_DOCUMENT"/>
          <xs:enumeration value="UPLOAD_NOT_ATTEMPTED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UploadDocumentStatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="SUCCESS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UploadDocumentType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CERTIFICATE_OF_ORIGIN"/>
          <xs:enumeration value="COMMERCIAL_INVOICE"/>
          <xs:enumeration value="ETD_LABEL"/>
          <xs:enumeration value="NAFTA_CERTIFICATE_OF_ORIGIN"/>
          <xs:enumeration value="OTHER"/>
          <xs:enumeration value="PRO_FORMA_INVOICE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UploadDocumentsProcessingOptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="POST_SHIPMENT_UPLOAD"/>    
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="UploadDocumentsProcessingOptionsRequested">
        <xs:sequence>
          <xs:element name="Options" type="ns:UploadDocumentsProcessingOptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="PostShipmentUploadDetail" type="ns:PostShipmentUploadDetail" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadDocumentsReply">
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1"/>
          <xs:element name="Notifications" type="ns:Notification" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="DocumentStatuses" type="ns:UploadDocumentStatusDetail" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="DocumentRequirements" type="ns:DocumentRequirementsDetail" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For an upload making use of the POST_SHIPMENT_UPLOAD option, this will indicate information about the required documents necessary for package movement.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadDocumentsRequest">
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="1"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="ProcessingOptions" type="ns:UploadDocumentsProcessingOptionsRequested" minOccurs="0"/>
          <xs:element name="OriginCountryCode" type="xs:string" minOccurs="0"/>
          <xs:element name="DestinationCountryCode" type="xs:string" minOccurs="0"/>
          
          <xs:element name="Usage" type="ns:DocumentUsageType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specifies the intent or the usage of the documents being uploaded. This provides details about how the documents are relevant to the current transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Documents" type="ns:UploadDocumentDetail" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadImageDetail">
        <xs:sequence>
          <xs:element name="Id" type="ns:ImageId" minOccurs="0"/>
          <xs:element name="Image" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="UploadImageStatusInfoType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="IMAGE_EXCEEDS_MAX_RESOLUTION"/>
          <xs:enumeration value="IMAGE_EXCEEDS_MAX_SIZE"/>
          <xs:enumeration value="IMAGE_FAILED_VIRUS_CHECK"/>
          <xs:enumeration value="IMAGE_ID_INVALID"/>
          <xs:enumeration value="IMAGE_ID_MISSING"/>
          <xs:enumeration value="IMAGE_MISSING"/>
          <xs:enumeration value="IMAGE_TYPE_INVALID"/>
          <xs:enumeration value="IMAGE_TYPE_MISSING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UploadImageStatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="SUCCESS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="UploadImagesReply">
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1"/>
          <xs:element name="Notifications" type="ns:Notification" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="ImageStatuses" type="ns:ImageUploadStatusDetail" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadImagesRequest">
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="1"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="Images" type="ns:UploadImageDetail" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationDetail">
        <xs:annotation>
          <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ParentCredential" type="ns:WebAuthenticationCredential" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This was renamed from cspCredential.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationCredential">
        <xs:annotation>
          <xs:documentation>Two part authentication string used for the sender's identity</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Key" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifying part of authentication credential. This value is provided by FedEx after registration</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Password" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Secret part of authentication key. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionId">
        <xs:annotation>
          <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ServiceId" type="xs:string" fixed="cdus" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Major" type="xs:int" fixed="11" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service business level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Intermediate" type="xs:int" fixed="0" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service interface level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Minor" type="xs:int" fixed="0" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service code level.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="UploadImagesReply">
    <part name="UploadImagesReply" element="ns:UploadImagesReply"/>
  </message>
  <message name="UploadDocumentsReply">
    <part name="UploadDocumentsReply" element="ns:UploadDocumentsReply"/>
  </message>
  <message name="UploadImagesRequest">
    <part name="UploadImagesRequest" element="ns:UploadImagesRequest"/>
  </message>
  <message name="UploadDocumentsRequest">
    <part name="UploadDocumentsRequest" element="ns:UploadDocumentsRequest"/>
  </message>
  <portType name="UploadDocumentPortType">
    <operation name="uploadDocuments" parameterOrder="UploadDocumentsRequest">
      <input message="ns:UploadDocumentsRequest"/>
      <output message="ns:UploadDocumentsReply"/>
    </operation>
    <operation name="uploadImages" parameterOrder="UploadImagesRequest">
      <input message="ns:UploadImagesRequest"/>
      <output message="ns:UploadImagesReply"/>
    </operation>
  </portType>
  <binding name="UploadDocumentServiceSoapBinding" type="ns:UploadDocumentPortType">
    <s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="uploadDocuments">
      <s1:operation soapAction="http://fedex.com/ws/uploaddocument/v11/uploadDocuments" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="uploadImages">
      <s1:operation soapAction="http://fedex.com/ws/uploaddocument/v11/uploadImages" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UploadDocumentService">
    <port name="UploadDocumentServicePort" binding="ns:UploadDocumentServiceSoapBinding">
      <s1:address location="https://wsbeta.fedex.com:443/web-services/uploaddocument"/>
    </port>
  </service>
</definitions>
